<div class="footer">
    <% if(site.customConfig.footerMenu){ %>
        <div class="menu">
            <% menus.forEach(function(menu){ %>
                <% if(menu.openType === 'External' ){ %>
                    <a href="<%= menu.link %>" class="menu" target="_blank"><%= menu.name %></a>
                <% }else{ %>
                    <a href="<%= menu.link %>" class="menu"><%= menu.name %></a>
                <% } %>
            <% }); %>
        </div>
    <% } %>
    <div class="powered_by">
        <a href="https://codeberg.org/kytrun/gridea-theme-one" target="_blank">Theme One,</a>
        <a href="https://open.gridea.dev/" target="_blank">Powered by Gridea&#65281;</a>
    </div>
    <% if(themeConfig.siteDescription){ %>
      <div class="footer_slogan">
          <%- themeConfig.siteDescription %>
      </div>
    <% } %>
    <% if(themeConfig.footerInfo){ %>
        <div class="footer_slogan">
            <%- themeConfig.footerInfo %>
        </div>
    <% } %>
    <div id="back_to_top" class="back_to_top">
        <span>△</span>
    </div>
    <% if(site.customConfig.busuanzi){ %>
        <p class="statistic" id="busuanzi_container_site_pv">
            Traffic statistics: site <span id="busuanzi_value_site_pv"></span> times, page
            <span id="busuanzi_value_page_pv"></span> times.
        </p>
    <% } %>
</div>
<% if(site.customConfig.busuanzi){ %>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% } %>
<script src="<%= themeConfig.domain %>/media/scripts/util.js"></script>